$card-height: 430px;
$card-margin: 10px;

.cv-card-container {
    margin-left: $size__spacing-unit;
    margin-right: $size__spacing-unit;
}

.cv-card-container__grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 290px);
    grid-gap: 20px;

    &--wider,
    .cv-card-container--wider & {
        grid-template-columns: repeat(auto-fit, 320px);
    }

    .cv-card-container--row & {
        grid-gap: 0;
        display: flex;
        flex-wrap: wrap;
        height: $card-height + 3 * $card-margin;
        overflow: hidden;

        > * {
            margin: $card-margin;
        }
    }

    .cv-card-container--fixed-height &,
    .cv-card-container--row & {
        > * {
            height: $card-height;
            overflow: hidden;
            flex: 0 0 1;
        }
    }
}
