node_modules
.DS_Store
dist/
placeholder/
uploads/
*/cv-regio-theme/cv-frontend/
*/cv-blocks/cv-frontend/

*.log
advanced-cache.php
backup-db/
backups/
blogs.dir/
cache/
upgrade/
uploads/
mu-plugins/
wp-cache-config.php
plugins/hello.php
plugins/akismet
plugins/atomic-blocks
plugins/coblocks
plugins/cv-regio-extention

themes/twentynineteen
themes/twentyseventeen
themes/twentysixteen
themes/atomic-blocks-theme
themes/cv-regio-theme-atomic

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz