@import '../../styles-global/main.scss';

$cv-card-border-radius: 6px;

.cv-card {
    display: block;
    width: 290px;
    min-height: 380px;
    border: 1px solid $color__background-hr;
    border-radius: $cv-card-border-radius;
    position: relative;
    box-sizing: content-box;

    text-decoration: none !important;
    color: $color__text-main;

    &--wider {
        width: 320px;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        box-shadow: 0px 0px 20px 0px rgba(94, 94, 94, 0.2);
        opacity: 0;
        transition: opacity 0.2s ease-out;
    }

    &:hover::after {
        opacity: 0.8;
    }

    &:hover {
        background: $color__background-input;
    }

    &:focus {
        outline: none;

        &::after {
            opacity: 1;
        }
    }

    .cv-card__inner {
        width: 100%;
        overflow: hidden;

        display: flex;
        flex-direction: column;

        > * {
            margin: 0 23px 20px 23px;

            &:first-child {
                margin-top: 18px;
            }

            &:last-child {
                margin-bottom: 28px;
            }

            p {
                margin: 0;
            }
        }
    }

    .cv-card__subtitle {
        margin-top: 27.5px;
        margin-bottom: 0px;
        color: $color__text-light;
        font-family: $font__heading;
        @include font-size(0.8);
        font-style: italic;
        text-transform: uppercase;

        &--capitalized {
            text-transform: uppercase;
        }
    }

    .cv-card__title {
        color: $color__text-main;
        @include font-size(1.5);
        font-style: italic;
        font-weight: normal;
        min-height: 3.6rem;
        display: flex;
        align-items: center;
    }

    .cv-card__image {
        width: calc(100% - 18px);
        margin-left: 0;
        margin-right: 0;
    }
}

.entry-content .cv-card,
.block-editor-block-list__layout .cv-card {
    color: inherit;

    &:hover {
        color: inherit;
    }
}

.cv-card--fixed-height .cv-card__inner-wrapper {
    width: 100%;
    max-height: 100%;
    overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        border-radius: $cv-card-border-radius;
        height: 50px;
        background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0) 0%,
            rgba($color__background-body, 1) 81%,
            rgba($color__background-body, 1) 99%
        );
    }
}
