:root {
    --color-primary: #{$color-primary};
    --color-primary-foreground: #{$color-primary-foreground};
    --color-accent: #{$color-accent};
    --color-accent-foreground: #{$color-accent-foreground};
}
