.cv-button {
    padding: 8px 10px;
    margin-bottom: 2px;
    margin-right: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border: none;
    background: $color-primary;
    color: $color-primary-foreground;

    &--primary {
        position: relative;
        background-color: $color-accent;
        color: $color-accent-foreground;
    }

    &:hover {
        opacity: 0.8;
    }

    &:active {
        transition: transform 0.2;
        transform: scale(0.95);
    }

    .base-icon {
        width: 13.5px;
        height: 13.5px;
        margin-right: 2px;
    }
}
