@import '../../styles-global/main.scss';

.main-menu {
    li {
        line-height: 1rem;
    }
}

.main-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;

    &--list {
        position: fixed;
        padding-top: 100px;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        background: $color__background-body;
    }

    .menu-item {
        padding: 5px 10px;

        &__toggle-icon {
            position: absolute;
            left: calc(50% - 6px);
            transform: translatey(0) rotateZ(90deg);
            bottom: -20px;
            width: 12px;
            height: 12px;
            color: $color__text-light;
            transition: opacity 0.2s ease-in-out, transform 0.2s ease;
        }
    }

    .menu-item a {
        text-decoration: none;
        // color: rgb(50, 50, 50);
        color: $color__primary;
        opacity: 0.8;
        font-family: 'Open Sans';
        font-size: 14px;
        text-transform: uppercase;
        position: relative;
        outline: none;
    }

    .menu-item.current-menu-item a,
    .menu-item.current a {
        font-weight: 600;
        color: $color__accent;
        opacity: 1;
    }
}

.menu-item__toggle-icon {
    opacity: 0;
}

.main-menu--small .menu-item__toggle-icon {
    transform: translateY(-8px) rotateZ(90deg);
}

.fade-submenu-icon-enter {
    opacity: 1;
}
.fade-submenu-icon-enter-done {
    opacity: 1;
}

.fade-submenu-icon-exit {
    opacity: 0;
}

.fade-submenu-icon-enter-active {
    transition: opacity .2s ease;
}
.fade-submenu-icon-exit-active {
    transition: opacity .2s ease;
}

.main-menu__submenu {
    position: absolute;
    left: 0;
    right: 0;
    background: #ccc;
    min-height: 50px;
}

.submenu--container {
    position: absolute;
    left: 0;
    right: 0;
    // min-height: 100px;
}

.submenu-expand {
    display: none;
}
