@import '../../styles-global/main.scss';

.info-row {
    margin-bottom: 15px;
}

.info-row__header {
    display: flex;
    align-items: center;
}

.info-row__label {
    font-family: $font__heading;
    font-size: 11px;
    font-style: italic;
    color: $color__text-light;
    text-transform: uppercase;
}

.info-row__icon {
    color: $color__text-light;
    margin-right: 3px;
}

.info-row__title {
    font-family: $font__heading;
    font-size: 18px;
    font-style: italic;
    line-height: 1.1;
    margin-top: -2px;
    // color: $color__text-light;
    // text-transform: uppercase;
}

.info-row + .info-row {
    margin-top: -6px;
}
