
[data-type="cv-blocks/cv-stage-item"] {
    
}

.cv-stage-edit {
    // border-width: 1px;
    // border-color: rgb(211, 35, 35);
    // border-style: solid;
    padding: 10px 30px;
    // margin: 10px;
    background: rgb(233, 233, 233);
}

.cv-stage-edit__modal {
    min-width: 90%;
}

// .cv-stage-edit-item {
//     width: 100%;
//     min-height: 50px;
//     border: 1px solid red;
// }

// .cv-stage-edit {
//     height: auto;

//     .cv-stage-item {
//         height: 350px;
//     }
// }